@import "icon.css";
@import "project1.css";
@import "typography.css";


.container-blog{
    position: relative;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 100px 180px auto 100px;
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd"
    "dp dp dp dp dp dp dp dp"
    "main main main main main main main main"
    "ft ft ft ft ft ft ft ft";
    margin-bottom: 60px;
}

.card-blog{
        display: grid;
        /* flex-direction: row; */
        /* justify-content: space-between; */
        width: 100%;
        height: auto;
        margin: auto;
        grid-template-rows: 80vw;
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 25px; 
        justify-content: center; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.card-container{
    margin:40px;

}

.author-img{
    width: 10px;
    height: 30px;
    justify-content: left;
}

.social-icons{
    margin-top: 30px;
    cursor: pointer;
}

.icon{
    cursor: pointer;
}
.fa-facebook-f{
    color: rgb(22, 65, 157);
    font-size: 20px;
    margin-right: 10px;

}
.fa-twitter{
    color: rgb(36, 157, 232);
    font-size: 20px;
    margin-right: 10px;

}
.fa-paper-plane{
    color: rgb(103, 11, 25);
    font-size: 20px;
    margin-right: 10px;

}

.blog-title{
    text-align: center;
    font-size: 30px;
}


.flex-author-info{
    display: flex;

}

.flex-author-info > .auhtor-img {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 40px;
  }


@media screen and (max-width: 1200px) {
    .container-blog{
        position: relative;
      
        grid-template-columns: 200px 200px;
        grid-template-rows: 100px auto 100px;
        grid-template-areas: 
        "hd hd hd hd hd hd hd hd"
      
        "main main main main main main main main"
        "ft ft ft ft ft ft ft ft";
    
    }
    
}

@media screen and (max-width: 480px){

    .container-blog{
        position: relative;
       
        grid-template-columns: 200px 200px;
        grid-template-rows: 100px 180px auto 100px;
        grid-template-areas: 
        "hd hd hd hd hd hd hd hd"
        "dp dp dp dp dp dp dp dp"
        "main main main main main main main main"
        "ft ft ft ft ft ft ft ft";
    
    }

   

    .header{
        grid-area: hd; 
    
    }

    .card-blog{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: auto;
        

    }

    .card-container{
        width: auto;
    }
    
    .description{
        grid-area: dp;
        background-color: rgb(237, 246, 246);
    }
    .sideposts{
        grid-area: sd;
    }
    
    .content{
        grid-area:main;
    }
    .footer{ 
        grid-area:ft;
    
         
     }

   
    
}

@media screen and (min-width: 700px){

    .container-blog{
        position: relative;
        
        grid-template-columns: 200px 200px;
        grid-template-rows: 100px 180px auto 100px;
        grid-template-areas: 
        "hd hd hd hd hd hd hd hd"
        "dp dp dp dp dp dp dp dp"
        "main main main main main main main main"
        "ft ft ft ft ft ft ft ft";
    
    }

    .container-blog{
        
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

    }

    .header{
        grid-area: hd; 
    
    }

    .card-blog{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: auto;
        

    }

    .card-container{
        width: auto;
    }
    
    .description{
        grid-area: dp;
        background-color: rgb(237, 246, 246);
    }
    .sideposts{
        grid-area: sd;
    }
    
    .content{
        grid-area:main;
    }
    .footer{ 
        grid-area:ft;
    
         
     }

   
    
}



@media screen and (min-width: 990px){

    .container-blog{
        position: relative;
        
        grid-template-columns: 200px 200px;
        grid-template-rows: 100px 180px auto 100px;
        grid-template-areas: 
        "hd hd hd hd hd hd hd hd"
        "dp dp dp dp dp dp dp dp"
        "main main main main main main main main"
        "ft ft ft ft ft ft ft ft";
    
    }

    .card-container{
        width: auto;
    }

    img{
        width: 100%;
    }

    .header{
        grid-area: hd; 
    
    }
    
  
    .sideposts{
        grid-area: sd;
    }
    
    .content{
        grid-area:main;
    }
    .footer{ 
        grid-area:ft;
    
         
     }

   
    .description-h3{
        text-align: center;
        font-size: 25px;
        letter-spacing: 3px;
    
    }
   
    
}


