body{
    background-color: #ffffff;
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: 'Newspaper';
    font-size: medium;
    color: rgb(6, 6, 41);
  
} 


.wrapper{
    margin-left:auto;
    margin-right: auto;
  

}

.container {
    position: relative;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 100px 180px 450px 100px;
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd"
    "dp dp dp dp dp dp dp dp"
    "sd main main main main main main main"
    "ft ft ft ft ft ft ft ft";
   
    /* border: 2px solid #1c134a; */
}


.box{
    /* border: 2px solid #d87093; */
    /* background-color: #7ee96e60; */
}

.header{
    grid-area: hd; 
    background-color: #ffffff;;   
}

.description{
    grid-area: dp;
    background-color: rgb(237, 246, 246);
}
.sideposts{
    grid-area: sd;
}

.content{
    grid-area:main;
}
.footer{ 
    grid-area:ft;
    background-color: #0f1017;
    position: absolute;
    left: 0;
    width: 100%; 
    color: white;
    text-align: center;
    
     
 }

 .footercontent{
     color:#ffffff;
 }



/* -------------------------------- */
/* HEADER LAYOUT AND DESIGN */
/* ----------------------------------- */
 /* .headernav{
    
    padding: 7px;
    text-decoration: none;   
} */


li{
    display: inline;
}

.menu{
    float: right;
    margin: 15px;
    text-decoration: none;
    color: #000000;
    font-family: 'Comfortaa';
}

.menu1{
    font-family: 'Comfortaa';

}


li:first-child{
    float: left;
    margin: 15px;
}

.navitems{
    
    margin-right: 50px;
    text-decoration: none;
    color:black;
    
}

/* -------------------------------- */
/* SIDE-POSTS LAYOUT AND DESIGN */
/* ----------------------------------- */

.sideposts{
    background-color: #ffffff;
}
.sideposts-details{
    margin: 10px;
}
.sidelist{
    line-height: 1.5em;
    /* padding: 40px; */
}

.author-desc{
    font-weight: 100;
    /* margin: 30px; */
}

.sideposts-btn{
    display: inline;
    font-family: 'Raleway', sans-serif;
    padding: 3px;
    border-radius: 8px;
    border-radius: 1px solid #988379;
    margin-right: 2px;
    

    background-color: transparent;
    cursor: pointer;

}

/* -------------------------------- */
/* CARDS-BLOG-POST LAYOUT AND DESIGN */
/* ----------------------------------- */

.cards{
        display: grid;
        /* flex-direction: row; */
        /* justify-content: space-between; */
        width: 80vw;
        height: 60vh;
        margin: auto;
        grid-template-columns: 80vw;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 5px; 
        justify-content: center; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}



.cardlayout{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardclass{
    margin: 10px;
    line-height: 0.9;
    
    
}



.cardimg{
    display: flex;
    flex-direction: row;
    width: 20vw;
    height: 20vh; 
  
    
}

.p-cards{
    margin: 10px;
    margin-top: 15px;
    font-size: 15px;
    color: #000000;
    line-height: 1.2em;
}

.p-cards-blog{
    margin: 10px;
    margin-top: 18px;
    font-size: 20px;
    color: #000000;
    line-height: 1.2em;
}

.p-cards-small{
    font-size: 12px;
    color:#000000;

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

.author{
    font-size: 14px;;
}

.btn-card{
    font-family: 'Raleway', sans-serif;
    padding: 3px;
    border-radius: 8px;
    border-radius: 1px solid #988379;
    margin: 10px;
    float: right;
    background-color: transparent;
    cursor: pointer;
}

.btn-card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

/* -------------------------------- */
/* DESCRIPTION TEXT DESIGN */
/* ----------------------------------- */

.description-p{
    text-align: center;
    font-size: 22px;
    margin: 0 80px 0 80px;
    font-weight: 200;
    line-height: 1.3em;


}

.description-h3{
    text-align: center;
    font-size: 25px;
    letter-spacing: 3px;

}


/* -------------------------------- */
/* FOOTER LAYOUT AND DESIGN */
/* ----------------------------------- */
.footercontent{
    text-align: center;
    font-size: 15px;
  
    
}

@media screen and (max-width: 480px){

    .cardimg{
        width: auto;
    }

    .description-p{
        text-align: center;
        font-size: 18px;
        margin: 0 30px 10px 30px;
        font-weight: 200;
        line-height: 1.3em;
    
    
    }

    .container{
        
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    
    }

    .cards{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: auto;

    }

    img{
        width: 100%;
    }

    .header{
        grid-area: hd; 
    
    }
    
  
    .sideposts{
        grid-area: sd;
    }
    
    .content{
        grid-area:main;
    }
    .footer{ 
        grid-area:ft;
         
     }

   
    .description-h3{
        text-align: center;
        font-size: 25px;
        letter-spacing: 3px;
    
    }
   
    
}

@media screen and (max-width: 1200px) {
    .container-blog{
        position: relative;
        display: grid;
        grid-template-columns: 200px 200px;
        grid-template-rows: 100px 180px auto 100px;
        grid-template-areas: 
        "hd hd hd hd hd hd hd hd"
        "dp dp dp dp dp dp dp dp"
        "sd main main main main main main main"
        "ft ft ft ft ft ft ft ft";
    
    }
    
}



@media screen and (max-width: 880px){

    .cardimg{
        width: auto;
    }

    .description-p{
        text-align: center;
        font-size: 18px;
        margin: 0 30px 10px 30px;
        font-weight: 200;
        line-height: 1.3em;
    
    
    }

    .container{
        
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    
    }

    .cards{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: auto;

    }

    img{
        width: 100%;
    }

    .header{
        grid-area: hd; 
    
    }
    
  
    .sideposts{
        grid-area: sd;
    }
    
    .content{
        grid-area:main;
    }
    
    .footer{ 
        grid-area:ft;
         
     }

    .description-h3{
        text-align: center;
        font-size: 25px;
        letter-spacing: 3px;
    
    }
   
    
}
